body {
  background: powderblue;
  font-family: Arial, sans-serif;
}
input {
  width: 300px;
  padding: 4px;
}
button{
  padding: 4px;
}
.timer {
  background: white;
  height: 50px;
  width: 30%;
}
.task {
  text-transform: uppercase;
}
